.video-header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;

  z-index: 999;

  transition: transform 0.4s ease;

  color: white;
}

.site-header.hide-header {
  transform: translateY(-100%);
}

.site-header nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  display: flex;
  gap: 35px;
}

.site-header nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.site-header .logo {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);

  font-size: 24px;
  font-weight: bold;
}

.site-header .logo a {
  color: white;
  text-decoration: none;
}

.menu-button {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);

  border: none;
  background: transparent;

  cursor: pointer;
  color: white;
  font-size: 42px;
}

.dark-header {
  color: black;
  background: white;
}

.dark-header nav a,
.dark-header .logo a,
.dark-header .menu-button {
  color: black;
}

.link-contents {
  display:flex;
  gap: 20px;
  align-items: center;
  height: 60vh;
  padding: 0 40px;
}

.moo-link {
  display: block;
  padding: 20px;
  background-color: white;
  height: 100%;
  width: 100%;
  color: black;
  text-decoration: none;
}

.moo-link img {
  width: auto;
  height: 30vh;
  padding: 60px;
  transition: transform 0.4s ease;
}

.moo-link span {
  display: block;
  font-weight: 500;
}

.moo-link:hover img {
  transform: scale(0.9);
}

.moo-link:hover span {
  text-decoration: underline;
}

.eymonk-link {
  display: block;
  padding: 20px;
  background-color: white;
  height: 100%;
  width: 100%;
  color: black;
  text-decoration: none;
}

.eymonk-link img {
  width: auto;
  height: 30vh;
  padding: 60px;
  transition: transform 0.4s ease;
}

.eymonk-link span {
  display: block;
}

.eymonk-link:hover img {
  transform: scale(0.9);
}

.eymonk-link:hover span {
  text-decoration: underline;
}

.pexels-link {
  display: block;
  padding: 20px;
  background-color: white;
  height: 100%;
  width: 100%;
  color: black;
  text-decoration: none;
}

.pexels-link img {
  width: auto;
  height: 30vh;
  transition: transform 0.4s ease;
}

.pexels-link span {
  display: block;
  font-weight: 500;
}

.pexels-link:hover img {
  transform: scale(0.9);
}

.pexels-link:hover span {
  text-decoration: underline;
}

.about-brand {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  border-top: 1px solid #ccc;
}

.brand-description {
  max-width: 800px;
  text-align: start;
  align-self: center;
  font-size: 18px;
  line-height: 1.6;
  padding: 50px;
}

.brand-description p {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
}

.see-work {
  border: 1px solid black;
  border-radius: 18px;
  padding: 10px 30px;
  font-size: 12px;
}

.see-work:hover {
  background-color: black;
  font-weight: bold;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.brand-image {
  max-width: 400px;
  margin: 0 auto;
  border: none;
}

.case-studies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  padding: 40px;
}

.case-study {
  display: block;
  padding: 10px;
  background-color: white;
  height: 100%;
  width: 100%;
  color: black;
  text-decoration: none;
}

.case-study img,
.case-study video {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.case-study span {
  display: block;
  margin-top: 20px;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.case-study p {
  margin-top: 10px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.case-study:hover img,
.case-study:hover video {
  transform: scale(0.9);
}

.case-study:hover span,
.case-study:hover p {
  text-decoration: underline;
}

.clients-section {
  position: relative;
  background: white;
  color: #171717;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 80px;
  padding-bottom: 120px;
  padding: 60px;
}

.clients-track {
  display: flex;
  gap: 120px;

  overflow-x: auto;
  overflow-y: hidden;

  padding: 40px 60px 130px;

  cursor: grab;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.clients-track:active {
  cursor: grabbing;
}

.clients-track::-webkit-scrollbar {
  display: none;
}

.clients-track {
  scrollbar-width: none;
}

.client-card {
  min-width: 360px;
  max-width: 360px;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.client-logo {
  height: 80px;
  font-size: 48px;
  line-height: 1;
  margin-bottom: 10px;
  font-weight: 900;
}

.google-logo {
  font-weight: 400;
  letter-spacing: -3px;
}

.kfc-logo {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 60px;
}

.wilson-logo {
  font-family: Georgia, serif;
  font-size: 54px;
}

.att-logo {
  font-size: 56px;
}

.patagonia-logo {
  font-family: Georgia, serif;
  font-size: 46px;
}

.dash {
  display: block;
  font-size: 28px;
  margin-bottom: 100px;
}

.client-info h3 {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 22px;
}

.client-info p {
  font-size: 20px;
  line-height: 1.35;
  font-weight: 600;
}

.client-info a {
  color: #171717;
  text-decoration: underline;
}

.bottom-line {
  position: absolute;
  left: 60px;
  right: 60px;
  bottom: 70px;

  height: 2px;
  background: #171717;
}

.featured-news {
  background: white;
  color: #111;
  padding: 90px 55px;
  font-family: Arial, Helvetica, sans-serif;
}

.news-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
}

.news-heading h2 {
  font-size: 44px;
  line-height: 0.95;
  font-weight: 900;
  letter-spacing: -2px;
}

.view-all {
  color: #111;
  text-decoration: none;
  border: 1px solid #111;
  border-radius: 30px;
  padding: 12px 35px;
  font-size: 12px;
  font-weight: 800;
}

.view-all:hover {
  background: #111;
  color: #f4f1ec;
}

.news-list {
  width: 100%;
}

.news-item {
  display: grid;
  grid-template-columns: 420px 1fr 60px;
  gap: 25px;

  padding: 22px 0 75px;
  border-top: 1px solid #111;

  color: #111;
  text-decoration: none;
  position: relative;
}

.news-image {
  width: 100%;
  height: 260px;
  overflow: hidden;
}

.news-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

  transition: transform 0.5s ease;
}

.news-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-content h3 {
  font-size: 45px;
  line-height: 0.95;
  font-weight: 500;
  letter-spacing: -3px;
  max-width: 850px;
}

.news-content p {
  font-size: 13px;
  font-weight: 800;
}

.news-arrow {
  font-size: 52px;
  line-height: 1;
  justify-self: end;
  transition: transform 0.3s ease;
}

.news-item:hover .news-content h3 {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.news-item:hover .news-image img {
  transform: scale(1.05);
}

.news-item:hover .news-arrow {
  transform: translateX(10px);
}

.news-page {
  background: #f4f1ec;
  min-height: 100vh;
  padding: 60px;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
}

.back-link {
  color: #111;
  text-decoration: none;
  font-weight: 800;
}

.back-link:hover {
  text-decoration: underline;
}

.news-page h1 {
  margin-top: 80px;
  font-size: 70px;
  line-height: 0.95;
  letter-spacing: -4px;
  max-width: 1000px;
}

.news-page p {
  margin: 30px 0;
  font-weight: 800;
}

.news-page img {
  width: 100%;
  max-width: 900px;
  display: block;
}

.site-header nav a:hover {
  text-decoration: underline;
}

.new-page-section {
  background: white;
  color: #111;
  min-height: 100vh;
  padding: 100px 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.news-hero {
  min-height: 360px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-hero h1 {
  font-size: 90px;
  line-height: 0.9;
  font-weight: 900;
  letter-spacing: -5px;
}

.news-filter {
  display: flex;
  justify-content: flex-end;
  gap: 45px;
  margin-bottom: 40px;
}

.news-filter a {
  color: #111;
  text-decoration: none;
  font-size: 13px;
  font-weight: 800;

  display: flex;
  align-items: center;
  gap: 10px;
}

.news-filter span {
  width: 18px;
  height: 18px;
  border: 1px solid #111;
  border-radius: 50%;
  display: inline-block;
}

.news-filter .active span {
  background: #111;
}

.news-list {
  width: 100%;
}

.news-item {
  display: grid;
  grid-template-columns: 420px 1fr 60px;
  gap: 25px;

  padding: 22px 0 75px;
  border-top: 1px solid #111;

  color: #111;
  text-decoration: none;
}

.news-image {
  width: 100%;
  height: 260px;
  overflow: hidden;
}

.news-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.news-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-content h3 {
  font-size: 45px;
  line-height: 0.95;
  font-weight: 500;
  letter-spacing: -3px;
  max-width: 850px;
}

.news-content p {
  font-size: 13px;
  font-weight: 800;
}

.news-arrow {
  font-size: 52px;
  line-height: 1;
  justify-self: end;
  transition: transform 0.3s ease;
}

.news-item:hover .news-content h3 {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.news-item:hover .news-image img {
  transform: scale(1.05);
}

.news-item:hover .news-arrow {
  transform: translateX(10px);
}

.site-footer {
  background: #252422;
  color: #f4f1ec;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-main {
  padding: 110px 80px 120px;
}

.footer-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 110px;
}

.footer-logo {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -1px;
}

.footer-message h2 {
  font-size: 34px;
  line-height: 1.05;
  font-weight: 500;
  letter-spacing: -1.5px;
}

.footer-message a {
  color: #f4f1ec;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer-content {
  display: grid;
  grid-template-columns: 2.2fr 0.9fr 0.9fr 1fr;
  gap: 80px;
}

.footer-newsletter h3,
.footer-column h3 {
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 28px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-newsletter h3 span,
.footer-column h3 span {
  width: 13px;
  height: 13px;
  background: #f4f1ec;
  border-radius: 50%;
  display: inline-block;
}

.newsletter-form {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f4f1ec;
  max-width: 540px;
}

.newsletter-form input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 18px 0;
  color: #f4f1ec;
  font-size: 18px;
}

.newsletter-form input::placeholder {
  color: #d8d6d0;
}

.newsletter-form button {
  background: transparent;
  border: none;
  color: #f4f1ec;
  font-size: 34px;
  cursor: pointer;
  padding-left: 20px;
}

.news-hero {
  min-height: 360px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-hero h1 {
  font-size: 90px;
  line-height: 0.9;
  font-weight: 900;
  letter-spacing: -5px;
}

.news-filter {
  display: flex;
  justify-content: flex-end;
  gap: 45px;
  margin-bottom: 40px;
}

.news-filter a {
  color: #111;
  text-decoration: none;
  font-size: 13px;
  font-weight: 800;

  display: flex;
  align-items: center;
  gap: 10px;
}

.news-filter span {
  width: 18px;
  height: 18px;
  background: #111;
  border: 1px solid #111;
  border-radius: 50%;
  display: inline-block;
}

news-filter .active span {
  background: #111;
}

.footer-column a,
.footer-column p {
  display: block;
  color: #d8d6d0;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.25;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-bottom {
  background: #191918;
  padding: 24px 80px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  color: #666;
  font-size: 11px;
  font-weight: 800;
}

.footer-bottom p:nth-child(2) {
  text-align: center;
}

.footer-bottom p:nth-child(3) {
  text-align: right;
}

.footer-bottom a {
  color: #666;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}
